 
/* Form layout */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
 
label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
 
button {
  margin-top: 10px;
}
 
/* Custom styles */
.forgot-logo {
  height: 80px;
}
 
.forgot-card {
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  max-width: 450px;
  width: 100%;
  margin-bottom: 30px;
}
 
.forgot-title {
  color: #01445e;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
 
.btn-wide {
  width: 120px;
}
 
 